.button-wrapper{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button1{
    margin-top: 10vh;
    width: 15vw;
    height: 50px;
    border-radius: 20px;
    // height: fit-content;
    padding: 8px;
    background-color: #34A853 ;
    color: white;
    font-size: 18px;
}
.button2{
    margin-top: 10vh;
    width: 15vw;
    height: 50px;
    border-radius: 20px;
    // height: fit-content;
    padding: 8px;
    background-color: #FBBC04 ;
    color: white;
    font-size: 18px;
}
.sign-in1 {
    color: #34A853;
    font-size: 30px;
}
.sign-in2 {
    color: #FBBC04;
    font-size: 30px;
}






