body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: black;
}
.input1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}
.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 80px;
    border: 1px solid white;
    height: 30px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    outline: none;
    letter-spacing: .2px;
}
.submit-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.laptop-img {
    width: 350px;
    height: auto;
}
.subtitle {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 10px;
    letter-spacing: 6px;
    font-size: 14px;
}
.input-title {
    color: white;
    font-size: 20px;
}
.input-box {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10px;
    height: 15px;
    margin-top: 3px;
    color: white;
    padding: 3px;
    padding-left: 6px;
    letter-spacing: .5px;
    font-size: 12px;
}
.main-body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    // margin-top: 80px;
}
.left-body {
    margin-top: 50px;
}
